.ui-overlay-a, .ui-page-theme-a {
	background-color: #b0b0b0 !important;
	background-image: url(../images/background.png);
	background-position: center top;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	text-shadow: none;
	color: #fff;
	font-weight: 200 !important;
} 
.ui-footer {
	left: 0px; 
	right: 0px; 
	bottom: 0px; 
	position: fixed;
}
.ui-btn {
	color: #b063a8 !important;
}
.ui-btn:active, .ui-btn-active {
	background-color: #dedede !important;
	border-color: #ddd !important;
	text-shadow: none !important;
}
.ui-btn:active:after {
	margin-left: 4px;
}
.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {
	background-color: #b063a8 !important;
}
.ui-header {
	font-family: 'Roboto', sans-serif !important;
	background-color: transparent !important;
	text-shadow: none !important;
	border-style: none !important;
	font-size: 18px !important;
}
.ui-header .ui-title {
	padding: 0px !important;
}
HR {
	border: none;
	border-top: 1px solid #fff;
}
.ui-header {
	margin-top: 10px;
}
.ui-header H1 {
	width: 100%;
	color: #fff !important;
	text-transform: uppercase !important;
	font-size: 28px !important;
	font-weight: 300 !important;
	text-align: center;
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.ui-header H3 {
	width: 100%;
	font-size: 16px !important;
	text-transform: none !important;
	color: #fff !important;
	font-weight: 100 !important;
	text-align: center;
	margin-left: 0px !important;
	margin-right: 0px !important;
}


.chart { 
	position: relative;
	display: block;
	width: 130px;
	height: 130px;
	text-align: center; 
	margin-left: auto;
	margin-right: auto;
}
.chartdiv {
	margin-top: 50px; 
	margin-bottom: 40px; 
	position: relative; 
	background-image: url(images/timerbg.png); 
	background-position: center top;
	background-repeat: no-repeat;  
}
.chart canvas {
	position: absolute;
	top: 0;
	left: 0; 
}


.timer {
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    display: block;
    margin-bottom: 50px;    
} 
#container {
	margin-left: auto; margin-right: auto;
	margin-top: 20px;
    width: 302px;
    height: 302px;
    display:block;
    overflow:hidden;
}
#buttons {
	margin-left: auto; margin-right: auto;
	width: 100%;
	text-align: center;
}
#buttons A {
	color: #fff;
	text-decoration: none;
}
.ui-footer {
	border-width: 0px;
	text-shadow: none;
}
.ui-footer DIV {
	width: 25%;
	float: left; 
	height: 80px;  
	text-align: center; 
	vertical-align: middle;
	padding-top: 20px;
	font-size: 14px !important;
	text-transform: none !important;
	color: #fff !important;
	font-weight: 300 !important;
	text-shadow: none;
}
.ui-footer DIV A {
	color: #fff !important;
	font-weight: 300 !important;
	text-shadow: none;
	text-decoration: none;
}
.ui-footer DIV A I {
	margin-top: 10px;
}
.alertwindow, .waitingwindow, .errorwindow { 
	background-color: #b0b0b0 !important;
	background-image: url(../images/background.png);
	background-position: center top;
    z-index: 9999;
    position: absolute; 
    padding: 0px;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 100px;
}
.waitingwindow, .errorwindow { 
    bottom: 0px;
	padding: 10px;
	text-align: center;
}
.text {
	display:block; 
	color: #7ebeea;
	font-size: 16px;   
	font-family: 'Open Sans Condensed', sans-serif; 
	font-weight: 500;
	margin-top: -10px;
}
.alertwindow DIV.question {
	color: #f1f2f4;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	margin-bottom: 20px; 
	padding: 15px;
} 
I.fa {
	color: #f1f2f4; 
}   
DIV.registerform LABEL {
	color: #f1f2f4; 
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	display: block; 
	font-weight: 500;
	margin-top: 5px;
	margin-bottom: 0px !important;
} 
DIV.registerform .ui-input-text {
	margin-top: 0px !important;
}


A {
	color: #fff !important;
	font-weight: 500 !important;
}


DIV.statsform {
    overflow: auto;
    
}
DIV.statsform UL {
    margin: 0px;
    padding: 0px;
    border: 0px none !important;
}
DIV.statsform UL>LI {  
    margin: 0px;
    padding: 0px;
    border: 0px none !important;
}
DIV.statsform LABEL { 
	display: block;
	color: #f1f2f4; 
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	display: block; 
	font-weight: 600;
} 
DIV.statsform DIV {
	display: block;  
	color: #f1f2f4; 
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 12px;
	margin-top: 5px; 
	margin-bottom: 20px;
}
